server:
  port: 3335
  use-forward-headers: true
  tomcat:
    remote-ip-header: x-forwarded-for
    protocol-header: x-forwarded-proto
logging:
  file:
    max-history: 20
    max-size: 50MB
    name: log/app.log
  level:
    root: WARN
    org.springframework.web: WARN
feign:
  hystrix:
    enabled: true
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 90000
        loggerLevel: basic
hystrix:
  shareSecurityContext: false
  threadpool:
    default:
      coreSize: 100
      maxQueueSize: -1
      queueSizeRejectionThreshold: 5
  command:
    default:
      circuitBreaker:
        forceClosed: true
      execution:
        timeout:
          enabled: false
        isolation:
          strategy: SEMAPHORE
#          thread:
#            timeoutInMilliseconds: 10000
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: never
health:
  config.time-to-live: 3600000
spring:
  jackson:
    serialization:
      fail-on-empty-beans: false
  boot:
    admin:
      client:
        url: http://boot-monitoring:8100
  application:
     name: cit-ticketing
  banner:
    location: classpath:/static/bannername.txt
  freemarker:
    template-loader-path: classpath:/templates
    suffix: .ftl
info:
  app:
    name: '@project.name@'
    version: '@project.version@'
    encoding: '@project.build.sourceEncoding@'
